
<template name="emails">
  <br>
  <br>
<div class="email">
  <label for="inputEmail" class="col-sm-2 control-label">Email:</label>
  <input type="text" size="35" maxlength="60" placeholder="Email here">
</div>
<div class="event">
  <label for="inputEvent" class="col-sm-2 control-label">Event:</label>
  <input type="text" size="100" maxlength="60" placeholder="Event here">
</div>
<div class="firstName">
  <label for="inputFirstName" class="col-sm-2 control-label">First name:</label>
  <div class="moveOver">
  <input type="text" size="35" maxlength="60" placeholder="First name">
  </div>
</div>
<div class="lastName">
  <label for="inputLastName" class="col-sm-2 control-label">Last name:</label>
  <input type="text" size="35" maxlength="60" placeholder="Last name">
</div>
<br>
<div class="dateandtime">
  <strong>Date and Time:</strong> 
  <input type = "datetime-local" name = "bdaytime">
</div>
  <br>
<div class="button">
  <button type="button">Submit</button>
</div>
</template>