<template name="call">
  <script>
  var name="";
  </script>
<html>
   <head>
     <link rel="stylesheet" href="test2.css">
   </head>
   <body>
     <div id="navbar">
       <ul>
         <li><a href="#">Phone Numbers</a>
           <br>
           <ul>
             <li><a href="#">720-555-1111</a></li>
             <br>
            <li><a href="#">888-250-4500</a></li>
             <br>
             <li><a href="#">858-254-5899</a></li>
             <br>
             <li><a href="#">888-482-6921</a></li>
             <br>
             <li><a href="#">720-999-8888</a></li>
           </ul>
         </li>
            <li><a href="#">Names</a>
           <ul>
             <li><a href="#">Clifford</a></li>
            <li><a href="#">Cameron</a></li>
             <li><a href="#">Nicole</a></li>
             <li><a href="#">Aiko</a></li>
             <li><a href="#">Dylan</a></li>
           </ul>
         </li>
       </ul>
     </div>
  </body>
</html>
 
  
  
  
  
  
</template>
         
         
         
  
